/*
    import font
*/
@import 'https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext';
/*
    fast style
*/

body{
  font-family: 'Lato', sans-serif;
}

.color-blue{
  color: rgb(0, 159, 254);
}

.mainContainer{
  padding: 4px;
  background-color: rgb(240, 253, 255);
}
.mainContainer header{
  background-color: #fff;
  border: 1px solid lightgray;

}
.mainContainer header h3{
  font-size: 1.4em;
  padding: 20px;
  color: gray;
}
.mainContainer header h3 button{
  background: transparent;
  border: 0;
}

.amount-box-container{
  background-color: #fff;
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px;
}

.amount-box-container input {
  border: 0;
  border-bottom: 1px solid rgb(0, 159, 254);
  font-size: 2em;
}

.amount-box-container .btn.btn-default {
  width: 100%;
}

.order-type-container{
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 10px;
}

.order-type-container .order-type-box{
  border: 1px solid lightgray;
}

.order-type-container .order-type-box.active{
  border: 1px solid rgb(0, 159, 254);
}
.order-type-container input[type=radio]{
  margin: 20px 20px 15px 20px;
}

input.form-control{
  box-shadow: none;
  -webkit-box-shadow: none;
}

input.form-control[disabled]{
  background-color: transparent;
}

section{
  margin-top: 20px;
}


/*  loading animate staff
    from http://tobiasahlin.com/spinkit/
*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}