<div class="spinner" *ngIf="loading">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="mainContainer">
                <header class="text-center">
                    <h3>
                        <span>Przelewam pieniądze z </span>

                        <span class="dropdown">
                            <button class="dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown">
                                <span *ngIf="country_in" class="color-blue">{{country_in.name}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let item of sourceCountries">
                                    <a (click)="changeCountryIn(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </span>

                        <span> do </span>
                        <span class="dropdown">
                            <button class="dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown">
                                <span *ngIf="country_out" class="color-blue">{{country_out.name}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li *ngFor="let item of targetCountries">
                                    <a (click)="changeCountryOut(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </span>
                    </h3>
                </header>

                <section class="row">
                        <div class="form-group col-sm-6">
                            <div class="amount-box-container">
                                <p>do wysłania</p>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <input type="number"
                                               class="form-control"
                                               [(ngModel)]="amount_in"
                                               (ngModelChange)="setAmountOut()"
                                               name="amount_in">
                                    </div>
                                    <div class="col-xs-4 coll-xs-offset-1">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle disabled"
                                                    type="button"
                                                    data-toggle="dropdown">
                                                <span *ngIf="currency_in">{{currency_in.name}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <div class="amount-box-container">
                                <p>do otrzymania</p>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <input type="number"
                                               class="form-control"
                                               [(ngModel)]="amount_out"
                                               [disabled]="true"
                                               name="amount_out">
                                    </div>
                                    <div class="col-xs-4 coll-xs-offset-1">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle"
                                                    type="button"
                                                    data-toggle="dropdown">
                                                <span *ngIf="currency_out">{{currency_out.name}}</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li *ngFor="let item of available_out">
                                                    <a (click)="changeCurrencyOut(item)">{{item.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div>

                        </div>

                </section>

                <section class="row">
                    <div class="col-sm-12 text-center">
                        <p *ngIf="currency_in && currency_out && rate">
                            1 {{currency_in.name}} = {{1 * rate}} {{currency_out.name}}</p>
                    </div>
                </section>

                <section class="row">
                    <div class="col-xs-12">
                        <div class="order-type-container">
                            <p class="text-center">Wybierz czas dostarczenia</p>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="order-type-box"
                                         [ngClass]="{ 'active': orderType == 'fast'}">
                                        <label>
                                            <input type="radio"
                                                   name="orderType"
                                                   [value]="'fast'"
                                                   [(ngModel)]="orderType"
                                                   checked>przelew Fast
                                        </label>
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <div class="order-type-box"
                                         [ngClass]="{ 'active': orderType == 'superFast'}">
                                        <label>
                                            <input type="radio"
                                                   name="orderType"
                                                   [value]="'superFast'"
                                                   [(ngModel)]="orderType"
                                                   [disabled]="!super_fast_available">przelew SuperFast
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>